<nav class="navbar nav-masthead navbar-expand-lg navbar-light" style="background-color: #E39D33;">
        <a class="navbar-brand" href="#">Mentor On Demand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#" id="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="about">About</a>
            </li>
          </ul>
          <a routerLink="/userpage" class="profile"><img height="30px" width ="30px" src="/assets/user.png" alt="Profile"></a>
        </div>
    </nav>

    <div class="container1">
                
                    <table>
                            <tr>
                              <th>Course</th>
                              <th>Start Date</th>
                              <th>Progress</th>
                            </tr>
                            <tr>
                              <td>Java</td>
                              <td>10-Nov-2019</td>
                              <td>
                                    <div class="progress">
                                            <div class="
                                            progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                              70%
                                            </div>
                                          </div>
                              </td>
                            </tr>
                            <tr>
                              <td>TypeScript</td>
                              <td>28-Nov-2019</td>
                              <td>
                                    <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                                              10%
                                            </div>
                                          </div>
                              </td>
                            </tr>
                            <tr>
                              
                              <td>Python</td>
                              <td>31-Dec-2019</td>
                              <td>
                                    <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                              60%
                                            </div>
                                          </div>
                              </td>
                            </tr>
                            <tr>
                                    <td>C++</td>
                                    <td>28-JUL-2019</td>
                                    <td>
                                          <div class="progress">
                                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width:55%">
                                                    55%
                                                  </div>
                                                </div>
                                    </td>
                                  </tr>
                          
                        </table>
          </div>





      <footer class="page-footer font-small blue">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
               MentorOnDemand
            </div>
            <!-- Copyright -->
          
          </footer>